@charset "utf-8";

/** Default Style **/

* {
  margin: 0;
  padding: 0;
}

body {
  font: 400 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}


/** Default Style End **/


/** Header **/

header .navbar-inverse {
  background: url(../img/bg-header.png) repeat top center;
  border-bottom: 3px solid #e59517;
}

.navbar-brand.logo {
  text-align: center;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo img {
  max-width: 80px;
  display: inline-block;
}

.logo span {
  display: inline-block;
  color: #e59517;
  font-size: 22px;
  word-break: break-word;
  max-width: 120px;
  text-align: left;
  line-height: 28px;
  vertical-align: middle;
  letter-spacing: 1px;
}

.navbar-inverse .navbar-nav li.active >a,
.navbar-inverse .navbar-nav li:hover >a {
  background-color: #000;
  color: #fff;
}

.menu-list > li > a,
.menu-list > li > a:hover,
.menu-list > li > a:focus {
  padding: 43px 20px;
}

.sub-menu {}

#navbarCollapse {
  position: relative;
}

#navbarCollapse .navbar-user {
  position: absolute;
  bottom: -43px;
  right: 0;
}

.navbar-inverse .navbar-user li {
  background-color: #e59517;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
  margin-right: 5px;
}

.navbar-inverse .navbar-user li a,
.navbar-inverse .navbar-user li a:hover,
.navbar-inverse .navbar-user li a:focus {
  color: #fff;
  background-color: #e59517;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


/** Header End**/


/** Banner Section **/

.banner-section {
  position: relative;
}

.img-banner {
  min-height: 650px;
  position: relative;
  overflow: hidden;
  background: url(../img/study-pen.jpeg) no-repeat top center / cover;
}

.img-banner img {
  width: 100%;
  height: 100%;
}

.banner-bckdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.banner-elements {
  color: #FFF;
  position: absolute;
  top: 30%;
  text-align: center;
  width: 100%;
}

.tutor-btn {
  margin-top: 50px;
}

.btn-tutor,
.btn-tutor:hover,
.btn-tutor:focus {
  background-color: #e59517;
  color: #fff;
  display: inline-block;
  text-align: left;
  font-size: 25px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 9px #c5c2c2;
}

.btn-tutor.tutor-link {
  color: #000;
}

.btn-tutor i {
  vertical-align: middle;
  font-size: 50px;
}

.btn-tutor span {
  display: block;
  font-size: 12px;
}

.btn-tutor + .btn-tutor {
  margin-left: 20px;
}

#top-section-menu-section {
  display: none;
}


/** Banner Section End **/

#top-section-menu-section,
#user-stories-section,
.promise-container {
  background-color: #F4F0E6;
  height: auto;
  position: relative;
  width: 100%;
}

.promise-container {
  padding-top: 20px;
  padding-bottom: 50px;
}

.top-section-menu-container {
  position: relative;
  top: -50px;
  width: 100%;
  text-align: center;
}

.top-section-menu-item a {
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  display: block;
  padding: 14px 10px 0px;
  text-align: left;
  box-shadow: 1px 0 3px rgba(153, 153, 153, 0.5);
  border-radius: 3px;
}

.calen-icon-holder {
  height: 53px;
  width: 50px;
  display: inline-block;
  float: left;
  text-align: center;
  font-size: 30px;
  color: #e6632f;
}

.top-section-menu-text {
  color: #333;
  font-size: 19px;
  font-weight: 300;
  line-height: 20px;
  margin-left: 60px;
  text-align: left;
  margin-left: 58px;
}

.top-section-menu-item hr {
  margin-top: 10px;
  margin-bottom: 0px;
}

.landingpg-sprite.new-icon {
  background-color: #fae700;
  color: #000;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  line-height: 38px;
  text-align: center;
  top: -16px;
  right: -5px;
}

.top-section-menu-item .main-text {
  color: #333;
  text-align: center;
  font-size: 14px;
  transition: .2s ease all;
  -webkit-transition: .05s ease all;
  padding-top: 6px;
  padding-bottom: 3px;
}

.top-section-menu-item:hover .main-text {
  margin-left: -11px;
  margin-right: -11px;
  background: #e6632f;
  padding-top: 6px;
  padding-bottom: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #fff;
}

.top-section-menu-exam-holder {
  margin: 0 auto;
  max-width: 1000px;
  padding: 15px 0 8px;
  text-align: center;
}

.top-section-menu-exam {
  border: 1px solid #aaaaaa;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 12px;
  padding: 10px 23px;
  color: #332e2b;
  margin-left: 10px;
}

.top-section-menu-exam:hover {
  background-color: #e6632f;
  border-color: #e6632f;
  color: #FFFFFF;
}

.title-border {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.title-border:before {
  position: absolute;
  content: "";
  width: 100px;
  border-bottom: 1px solid #e6632f;
  left: 46%;
  bottom: 0;
}

.title-border:after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid #e6632f;
  background-color: #fff;
  border-radius: 50%;
  bottom: -7px;
  left: 50%;
}

.promise-container .title-border:before {
  left: 43%;
}

.promise-container .title-border:after {
  left: 51%;
}


/** User stories section **/

#user-stories-section figure {}

#user-stories-section figcaption {
  margin-top: 10px;
}

#userStoryCarousel {
  margin-top: 20px;
}

#userStoryCarousel figure storytype {
  font-size: 12px;
  display: block;
}

.user-story storytype {
  color: #e6632f;
}

#userStoryCarousel .carousel-indicators li {
  border-color: #333;
}

#userStoryCarousel .carousel-indicators .active {
  background-color: #e6632f;
  border-color: #fff;
}

#user-stories-section .title-border:after {
  background-color: #F4F0E6;
}

#userStoryCarousel figure img {
  max-width: 150px;
  max-height: 150px;
}


/** Contact Info **/

.contact-info .info {
  margin-bottom: 40px;
  text-align: center;
}

.contact-info .info i {
  position: relative;
  background: #fff;
  font-size: 3rem;
  color: #181818;
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: -40px;
  line-height: 80px;
  border-bottom: 4px solid rgba(233, 233, 233, 0.8);
  border-radius: 0 0 100% 100%;
}

.contact-info .info .info-content {
  border: 1px solid #ccc;
  padding: 40px 0 20px;
}

.contact-info .info .info-content h3 {
  color: #181818;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.contact-info .info .info-content span {
  display: block;
  color: #555;
  letter-spacing: 1.5px;
  margin: 5px auto;
}


/** Contact Info End **/


/** User stories section End **/

@media (min-width: 768px) {
  .dropdown-menu,
  .sub-menu li ul {
    min-width: 210px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .menu-list .sub-menu li {
    position: relative;
  }
  .menu-list .sub-menu li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .sub-menu li > a i {
    float: right;
  }
  .sub-menu li ul {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 98%;
    min-width: 160px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .sub-menu li:hover ul {
    display: block;
  }
  .sub-sub-menu li a {
    width: 100%;
    display: block;
    color: #333;
    padding-left: 10px;
    padding-right: 10px;
  }
  .sub-sub-menu li:hover {
    background-color: #000;
  }
  .sub-sub-menu li:hover a {
    color: #fff;
  }
}
